name: Python Selenium Automation

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to execute automation'
        required: true
        default: 'main'
      tag:
        description: 'Pytest tag (smoke, regression)'
        required: true
        default: 'smoke'

jobs:
  selenium-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.inputs.branch }}

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip

    - name: Install chrome browser
      run: |
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable

    - name: Run Selenium Tests
      run: |
        cd Deepesh/AutomationFramework
        pip install -r requirements.txt
        python -m pytest -v -m "${{ github.event.inputs.tag }}" ./tests/ --html=report.html --self-contained-html
      continue-on-error: true

    - name: Upload HTML Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: selenium-test-report
        path: Deepesh/AutomationFramework/report.html

    - name: Send Email with Report Link
      if: always()
      uses: dawidd6/action-send-mail@v3
      with:
        server_address: smtp.gmail.com
        server_port: 465
        secure: true
        username: ${{ secrets.EMAIL_USERNAME }}
        password: ${{ secrets.EMAIL_PASSWORD }}
        subject: Selenium Automation Report
        to: ${{ secrets.EMAIL_TO }}
        from: GitHub Actions
        body: |
          Selenium automation execution is completed.

          Branch: ${{ github.event.inputs.branch }}
          Tag: ${{ github.event.inputs.tag }}

          Download Report:
          https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
