name: Rohit Ecomerance

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  rohit-tasks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install Project Dependencies
        run: |
          cd Rohit/automationexercise_Framework
          pip install -r requirements.txt

      - name: Run Pytest
        run: |
          cd Rohit/automationexercise_Framework
          python -m pytest -v ./tests/

